<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes Réservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>Lieu</ion-col>
      <ion-col>userId</ion-col>
      <ion-col>Nombre de guests</ion-col>
      <ion-col>Départ</ion-col>
      <ion-col>endDate</ion-col>
      <ion-col>Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let booking of myBookings">
      <ion-col>{{booking.placeId}}</ion-col>
      <ion-col>{{booking.userId}}</ion-col>
      <ion-col>{{booking.guestNumber}}</ion-col>
      <ion-col>{{booking.startDate}}</ion-col>
      <ion-col>{{booking.endDate}}</ion-col>
      <ion-col>
        <ion-item-option color="danger" (click)="onDeleteBooking(booking)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>